<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="WebApiEndpoint" value="http://localhost:51517/api/HelloWorld/Print"/>
        <add key="OutputDestination" value="console"/> <!--Change output destination here (console, file, database, etc..)-->
        <add key="TextFileName" value="ProgramOutput.txt"/>
    </appSettings>
</configuration>